# Dependencias para Cloud Function Extractor de Clima
# Python 3.11

# Framework para Cloud Functions
functions-framework==3.*

# Cliente de Google Cloud Pub/Sub
google-cloud-pubsub==2.*

# Cliente de Secret Manager para obtener API Key
google-cloud-secret-manager==2.*

# Cliente HTTP para llamadas a APIs
requests==2.*
